<div class="container">
  <div class="row justify-content-md-center align-items-center" style="min-height: 100vh;">
    <!-- Centralização vertical e horizontal -->
    <div class="col-md-6 login-box">
      <h1 class="text-center">Login</h1>
      <hr>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" #emailInput>
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-danger text-center w-100 d-flex align-items-center justify-content-center"
          [disabled]="loading">
          <span>LOGIN</span>
          @if (loading) {
          <mat-spinner [diameter]="20"></mat-spinner>
          }
        </button>
      </form>
    </div>
  </div>
</div>