/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "ngx-toastr/toastr-bs5-alert";

@font-face {
  font-family: "Roboto";
  src: url(./assets/font/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/font/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary: #802bb1;
  --secondary: #2d283e;
  --tertiary: #564f6f;
  --quaternary: #4c495d;
  --quinary: #d1d7e0;
  --text-dar: #222222;
  --text-white: #ffffff;
  --text-cream: #eee0e0;
  --mdc-checkbox-selected-focus-icon-color: var(--primary);
  --mdc-checkbox-selected-hover-icon-color:var(--primary);
  --mdc-checkbox-selected-icon-color: var(--primary);
  --mdc-checkbox-selected-pressed-icon-color: var(--primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.login-background {
  background-color: var(--secondary);
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: var(--primary) !important;
}

.mdc-fab {
  width: 35px !important;
  height: 35px !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  --bs-btn-bg: var(--primary) !important;
  --bs-btn-border-color: var(--primary) !important;
  --bs-btn-hover-bg: var(--primary) !important;
  --bs-btn-hover-border-color: var(--primary) !important;
  --bs-btn-active-bg: var(--primary) !important;
  --bs-btn-disabled-bg: var(--primary) !important;
  --bs-btn-disabled-border-color: var(--primary) !important;
}

.btn-secondary {
  background-color: var(--secondary) !important;
  --bs-btn-bg: var(--secondary) !important;
  --bs-btn-border-color: var(--secondary) !important;
  --bs-btn-hover-bg: var(--secondary) !important;
  --bs-btn-hover-border-color: var(--secondary) !important;
  --bs-btn-active-bg: var(--secondary) !important;
  --bs-btn-disabled-bg: var(--secondary) !important;
  --bs-btn-disabled-border-color: var(--secondary) !important;
}

.btn-tertiary {
  background-color: var(--tertiary) !important;
  --bs-btn-bg: var(--tertiary) !important;
  --bs-btn-border-color: var(--tertiary) !important;
  --bs-btn-hover-bg: var(--tertiary) !important;
  --bs-btn-hover-border-color: var(--tertiary) !important;
  --bs-btn-active-bg: var(--tertiary) !important;
  --bs-btn-disabled-bg: var(--tertiary) !important;
  --bs-btn-disabled-border-color: var(--tertiary) !important;
}

.btn-quaternary {
  background-color: var(--quaternary) !important;
  --bs-btn-bg: var(--quaternary) !important;
  --bs-btn-border-color: var(--quaternary) !important;
  --bs-btn-hover-bg: var(--quaternary) !important;
  --bs-btn-hover-border-color: var(--quaternary) !important;
  --bs-btn-active-bg: var(--quaternary) !important;
  --bs-btn-disabled-bg: var(--quaternary) !important;
  --bs-btn-disabled-border-color: var(--quaternary) !important;
}

.btn-quinary {
  background-color: var(--quinary) !important;
  --bs-btn-bg: var(--quinary) !important;
  --bs-btn-border-color: var(--quinary) !important;
  --bs-btn-hover-bg: var(--quinary) !important;
  --bs-btn-hover-border-color: var(--quinary) !important;
  --bs-btn-active-bg: var(--quinary) !important;
  --bs-btn-disabled-bg: var(--quinary) !important;
  --bs-btn-disabled-border-color: var(--quinary) !important;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--secondary);
}

.mat-icon {
  color: var(--primary);
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--primary) !important;
}

:host ::ng-deep .mat-checkbox-indeterminate,
.mat-checkbox-checked {
  &.mat-primary .mat-checkbox-background {
    background-color: var(--primary) !important;
  }
  &.mat-accent .mat-checkbox-background {
    background-color: var(--primary) !important;
  }
  &.mat-warn .mat-checkbox-background {
    background-color: var(--primary) !important;
  }
}

.col-1-2{
  flex: 0 0 auto;
  width: 10.33333333%;
}

.col-1-5{
  flex: 0 0 auto;
  width: 12.33333333%;
}
